DATABASE_URL="postgresql://user:password@localhost:5432/slouch"
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"
GITHUB_USERNAME="your-github-username"
ADMIN_EMAIL="your-email@example.com"
ADMIN_PASSWORD="your-password"
